@font-face {
  font-family: "Rubik Mono One";
  src: url("../../../static/font/RubikMonoOne-Regular.ttf") format("ttf");
  /* Define other font properties like font-weight and font-style if needed */
}

@font-face {
  font-family: "Overpass Mono";
  src: url("../../../static/font/OverpassMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../../../static/font/Inter-Regular.ttf") format("ttf");
}

.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
}

.home-page .overlap {
  height: 801px;
  left: 0;
  /* position: absolute; */
  top: 86px;
  width: 100%;
  display: flex;
}

.hero {
  background-color: #ffffff;
  height: 805px;
  position: relative;
  display: flex;
  flex-direction: row;

  width: 100%;
}

.home-page .text-input {
  background-color: #fff8ec;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #000000;
  height: 9000px;
  /* left: 95px;
  position: absolute;
  top: 0; */
  width: 100%;
}

.home-page .text-input-container {
  height: 49px;
  /* left: 0;
  position: absolute;
  top: 781px; */
  width: 100%;
}

.home-page .overlap-group {
  background-color: #ff9f9f;
  height: 57px;
  /* left: -4px;
  position: relative;
  top: -4px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page .overlap-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.home-page .BEYOURBEST-strip {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;

  /* left: 0; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 0; */
  width: 199px;
}

.home-page .text-input-2 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 195px;
  position: absolute;
  top: 8px; */
  width: 7px;
}

.home-page .overlap-3 {
  height: 24px;
  /* left: 308px;
  position: absolute;
  top: 17px; */
  width: 205px;
}

.home-page .text-input-3 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 198px;
  position: absolute;
  top: 8px; */
  width: 7px;
}

.home-page .text-wrapper {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  /* left: 522px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 17px; */
  width: 199px;
}

.home-page .BEYOURBEST-strip-2 {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  /* left: 736px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 17px; */
  width: 199px;
}

.home-page .BEYOURBEST-strip-3 {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  /* left: 950px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 17px; */
  width: 199px;
}

.home-page .BEYOURBEST-strip-4 {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  /* left: 1164px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 17px; */
  width: 199px;
}

.home-page .overlap-group-2 {
  height: 24px;
  /* left: 1374px;
  position: absolute;
  top: 17px; */
  width: 203px;
}

.home-page .test {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  /* left: 4px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 0; */
  width: 199px;
}

.home-page .text-input-4 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 0;
  position: absolute;
  top: 8px; */
  width: 7px;
}

.home-page .text-input-5 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 723px;
  position: absolute;
  top: 25px; */
  width: 7px;
}

.home-page .text-input-6 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 940px;
  position: absolute;
  top: 25px; */
  width: 7px;
}

.home-page .text-input-7 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 1157px;
  position: absolute;
  top: 25px; */
  width: 7px;
}

.home-page .text-input-8 {
  background-color: #ffffff;
  border-radius: 3.5px;
  height: 7px;
  /* left: 1591px;
  position: absolute;
  top: 25px; */
  width: 7px;
}

.home-page .image {
  height: 725px;
  /* left: 912px; */
  object-fit: cover;
  /* position: absolute;
  top: 47px; */
  width: 547px;
  margin: 0 auto;
  margin-top: 30px;
}

.home-page .text-input-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* left: 190px;
  position: absolute;
  top: 91px; */
  position: absolute;
  left: 15%;
  top: 100px;
}

/*.dropdown-menu {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}*/

.dropdown-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent; /* Make the dropdown background transparent */
  border: none; /* Remove the border */
  z-index: 1;
}


.home-page .button-2:hover .dropdown-menu {
  display: flex; /* Show the dropdown when button is hovered */
}

.regions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.region {*/
/*  font-family: "Overpass Mono", Helvetica;*/
/*  border: none;*/
/*  font-size: 25px;*/
/*  font-weight: 700;*/
/*  height: 40px;*/
/*  letter-spacing: 0;*/
/*  line-height: normal;*/
/*  text-decoration: underline;*/

/*  cursor: pointer;*/
/*  margin-left: 50px;*/
/*  color: rgba(0, 0, 0, 0.8);*/
/*  margin-top: 10px;*/
/*}*/

.region {
  font-family: "Overpass Mono", Helvetica;
  border: none;
  font-size: 25px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;

  cursor: pointer;
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  background-color: transparent;  /* Make the item background transparent */
  transition: background-color 0.3s; /* Smooth transition for hover effect */

  text-align: left; /* Ensure text is left-aligned */
  padding-left: 10px; /* Add some padding to the left to ensure the dot and text don't stick to the left edge */
}

.region:hover {
  background-color: rgba(255, 255, 0, 0.5);  /* semi-transparent bright yellow on hover */
}


.region:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

.places {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: absolute;
  right: 15%;
  top: 100px;
}

.home-page .button {
  all: unset;
  align-items: center;
  background-color: #a7a5ff0d;
  border: 1px solid;
  border-color: #000000;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  padding: 10px 12px;
  position: relative;
  width: 162px;
}

.home-page .text-wrapper-2 {
  color: #000000;
  flex: 1;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  text-align: center;
}

.home-page .div-wrapper {
  all: unset;
  align-items: center;
  background-color: #a7a5ff0d;
  border: 1px solid;
  border-color: #000000;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 10px 12px;
  position: relative;
  width: 172px;
}

/*.home-page .button-2 {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  !* position: absolute; *!*/
/*}*/

.home-page .button-2 {
  display: flex;
  flex-direction: column; /* Changed from row to column to stack the dropdown below the button */
  align-items: start; /* Align the items to the start */
  position: relative; /* Add this so that we can position dropdown-menu relative to this parent */
}

.home-page .button-2:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.home-page .text-wrapper-3 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 59px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  width: 229px;
  background: none;
  border: none;
  z-index: 1;
}

.home-page .enabled-wrapper {
  all: unset;
  align-items: center;
  background-color: #a7a5ff0d;
  border: 1px solid;
  border-color: #000000;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px 12px;
  position: relative;
  width: 154px;
}

.icon {
  width: 150px;
  height: 150px;
}

.icon:active {
  background-color: rgba(1, 1, 1, 0.1);
}

.home-page .kyoto {
  /* left: 141px; */
  object-fit: cover;
  /* position: absolute;
  top: 521px; */
}

.home-page .kyoto.icon:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.home-page .tokyo {
  /* left: 190px; */
  object-fit: cover;
  /* position: absolute;
  top: 218px; */
}

.home-page .tokyo.icon:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.home-page .image-3 {
  /* left: 553px; */
  object-fit: cover;
  /* position: absolute;
  top: 470px; */
}

.home-page .image-3:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.home-page .image-hiro {
  /* left: 553px; */
  object-fit: cover;
  /* position: absolute;
  top: 216px; */
}

.home-page .image-hiro:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.home-page .text-wrapper-4 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 200px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 425px; */
  width: 152px;
}

.home-page .text-wrapper-5 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 147px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 728px; */
  width: 256px;
}

.home-page .text-wrapper-6 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 566px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 725px; */
  width: 230px;
}

.home-page .text-wrapper-hiro {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 566px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 425px; */
  width: 230px;
}

.home-page .overlap-4 {
  height: 585px;
  /* left: 0; */
  /* position: absolute;
  top: 2838px; */
  width: 1446px;
}

.home-page .text-input-10 {
  background-color: #000000;
  height: 585px;
  /* left: 0;
  position: absolute;
  top: 0; */
  width: 100%;
}

.home-page .tooltip {
  height: 585px;
  /* left: 0;
  position: absolute;
  top: 0; */
  width: 100%;
}

.home-page .overlap-group-3 {
  background-color: #000000;
  height: 585px;
  position: relative;
  width: 100%;
}

.home-page .image-4 {
  height: 85px;
  /* left: 839px; */
  object-fit: cover;
  /* position: absolute;
  top: 363px; */
  width: 488px;
}

.home-page .p {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 110px; */
  letter-spacing: 0;
  line-height: 16px;
  /* position: absolute;
  top: 349px; */
  width: 371px;
}

.home-page .span {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.home-page .text-wrapper-7 {
  line-height: 32px;
}

.home-page .div-2 {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 106px; */
  letter-spacing: 0;
  line-height: 16px;
  /* position: absolute;
  top: 106px; */
  width: 362px;
}

.home-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  /* left: 851px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: right;
  /* top: 152px; */
  width: 478px;
}

.home-page .overlap-5 {
  height: 589px;
  /* left: 0;
  position: absolute;
  top: 926px; */
  width: 100%;
  background-image: url(../../../static/img/image-177.png);
  background-position: 50% 50%;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-page .overlap-wrapper {
  height: 589px;
  /* left: 0;
  position: absolute;
  top: 0; */
  width: 100%;
}

.Japanese-styles-wrapper {
  position: relative;
  text-align: center;
  margin-right: 13px;
  margin-left: 9.5%;
}

.Japanese-snack {
  height: 350px;
  width: 492px;
  box-shadow: 5px 5px 0 0px rgba(0, 0, 0, 1);
}

.Japanese-text-container {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 50px;
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .FORMALS-styles-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 13px;
}

.Western-snack {
  height: 165px;
  width: 602px;
  box-shadow: 5px 5px 0 0px rgba(0, 0, 0, 1);
}

.text-wrapper-9 {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  position: absolute;
  top: 50%; /* Adjust top position as needed */
  left: 50%; /* Adjust left position as needed */
  transform: translate(-50%, -50%); /* Center the text */
}

.home-page .CASUALS-styles-wrapper {
  display: inline-block;
  position: relative;
}

.Other-snack {
  height: 165px;
  width: 602px;
  box-shadow: 5px 5px 0 0px rgba(0, 0, 0, 1);
}

.home-page .streetstyle {
  color: #0c0b0b;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 70px;
  /* left: 283px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 405px; */
  width: 411px;
}

.home-page .rectangle {
  background-color: #000000;
  height: 335px;
  /* left: 242px;
  position: absolute;
  top: 144px; */
  width: 480px;
}

.home-page .image-5 {
  height: 350px;
  /* left: 223px; */
  object-fit: cover;
  /* position: absolute;
  top: 120px; */
  width: 492px;
}

.home-page .horizontal-container {
  height: 458px;
  /* left: 0;
  position: absolute;
  top: 1515px; */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-page .overlap-7 {
  height: 464px;
  /* left: -2px;
  position: relative;
  top: -4px; */
  width: 100%;
}

.home-page .frame {
  border: 2px solid;
  border-color: #000000;
  /* height: 458px; */
  /* left: 0;
  position: absolute;
  top: 2px; */
  /* width: 480px; */
  border-left: none;
  border-right: none;
  background-color: #ff9f9f;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .overlap-group-4 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 24px;
  font-weight: 700;
  /* left: 104px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 230px; */
  width: 272px;
  margin-top: 25px;
}

.home-page .image-6 {
  height: 52px;
  /* left: 104px; */
  object-fit: cover;
  /* position: absolute;
  top: 153px; */
  width: 77px;
}

.home-page .container {
  background-color: #fff59f;
  border: 2px solid;
  border-color: #000000;
  /* height: 462px; */
  /* left: 958px;
  position: absolute;
  top: 0; */
  /* width: 484px; */
  border-right: none;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.home-page .text-wrapper-12 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 24px;
  font-weight: 700;
  /* left: 102px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: right;
  /* top: 229px; */
  width: 272px;

  margin-top: 25px;
}

.home-page .image-7 {
  height: 57px;
  /* left: 317px; */
  object-fit: cover;
  /* position: absolute;
  top: 151px; */
  width: 57px;
}

.middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-page .text-input-container-2 {
  background-color: #b8ff9f;
  border: 2px solid;
  border-color: #000000;
  /* height: 233px; */
  /* left: 478px; */
  /* position: absolute;
  top: 0; */
  /* width: 484px; */
  border-bottom: none;
  border-right: none;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .non-contactshipping {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 61px;
  /* left: 102px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 116px; */
  width: 272px;

  margin-top: 12px;
}

.home-page .image-8 {
  height: 58px;
  /* left: 209px; */
  object-fit: cover;
  /* position: absolute;
  top: 46px; */
  width: 58px;
}

.home-page .button-3 {
  background-color: #ffa5f6;
  border: 2px solid;
  border-color: #000000;
  /* height: 233px; */
  /* left: 478px;
  position: absolute;
  top: 229px; */
  /* width: 484px; */
  border-right: none;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .moneybackguranteed {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 54px;
  /* left: 102px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 126px; */
  width: 272px;
  margin-top: 12px;
}

.home-page .image-9 {
  height: 65px;
  /* left: 205px; */
  object-fit: cover;
  /* position: absolute;
  top: 45px; */
  width: 65px;
}

.home-page .container-2 {
  /* left: 80px;
  position: absolute;
  top: 2041px; */
  width: 100%;
}

.home-page .container-3 {
  height: 577px;
  /* left: 0; */
  overflow-x: scroll;
  /* position: absolute;
  top: 107px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 52px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.home-page .container-4 {
  height: 424px;
  /* left: 0;
  position: absolute;
  top: 153px; */
  width: 380px;
}

.home-page .image-10 {
  height: 359px;
  /* left: 0; */
  object-fit: cover;
  /* position: absolute;
  top: 0; */
  width: 376px;
}

.home-page .overlap-group-5 {
  background-color: #fff8ec;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #000000;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  height: 65px;
  /* left: 0;
  position: absolute;
  top: 359px; */
  width: 376px;
}

.home-page .cargotrousers {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 33px;
  /* left: 18px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 14px; */
  width: 185px;
}

.home-page .rs {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 33px;
  /* left: 193px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: right;
  /* top: 14px; */
  width: 161px;
}

.home-page .switch {
  height: 424px;
  /* left: 428px;
  position: absolute;
  top: 153px; */
  width: 380px;
}

.home-page .image-11 {
  height: 376px;
  /* left: 0; */
  object-fit: cover;
  /* position: absolute;
  top: 0; */
  width: 376px;
}

.home-page .overlap-8 {
  background-color: #fff8ec;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #000000;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  height: 48px;
  /* left: 0;
  position: absolute;
  top: 376px; */
  width: 376px;
}

.home-page .text-wrapper-13 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  /* left: 18px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 10px; */
  width: 185px;
}

.home-page .rs-2 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  /* left: 193px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: right;
  /* top: 10px; */
  width: 161px;
}

.home-page .container-5 {
  height: 424px;
  /* left: 856px;
  position: absolute;
  top: 153px; */
  width: 380px;
}

.home-page .container-6 {
  height: 424px;
  /* left: 1284px;
  position: absolute;
  top: 153px; */
  width: 380px;
}

.home-page .card {
  height: 424px;
  /* left: 1712px;
  position: absolute;
  top: 153px; */
  width: 380px;
}

.home-page .image-12 {
  height: 376px;
  /* left: 0; */
  object-fit: cover;
  /* position: absolute;
  top: 0; */
  width: 376px;
}

.home-page .overlap-9 {
  background-color: #fff8ec;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #000000;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  height: 48px;
  /* left: 0;
  position: absolute;
  top: 376px; */
  width: 376px;
}

.home-page .text-input-container-3 {
  height: 577px;
  /* left: 2140px;
  position: absolute;
  top: 0; */
  width: 380px;
}

.home-page .overlap-10 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  height: 512px;
  /* left: 0;
  position: absolute;
  top: 0; */
  width: 376px;
}

.home-page .text-wrapper-14 {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 33px;
  /* left: 56px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 245px; */
  width: 260px;
}

.home-page .productsqr {
  height: 1px;
  /* left: 229px; */
  object-fit: cover;
  /* position: absolute;
  top: 31px; */
  width: 18px;
}

.home-page .viewall {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 33px;
  /* left: 125px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 14px; */
  width: 86px;
}

.home-page .newarrivals {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 72px;
  /* left: 500px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  text-decoration: underline;
  /* top: 0; */
  width: 336px;
  margin: 0 auto;
  margin-top: 68px;
}

.home-page .text-input-container-4 {
  background-color: #fff8ec;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #000000;
  /* border-top-style: solid;
  border-top-width: 3px; */
  height: 86px;
  left: 0;
  /* position: absolute; */
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page .home-menu {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  top: 27px;
  margin-left: 67px;
  margin-right: 60px;
}

.home-page .customerservice {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 174px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  top: 27px;
}

.tooltip {
  /* background-color: #ffffff;
  max-width: 100%;
  padding: 20px;*/
  height: 400px;

  /* position: absolute;
  top: 3087px; */

  /* width: 1446px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.foot-overlap-group {
  background-color: #000000;
  width: 100%;
  /* height: 400px; */

  /* background-color: #000000; */
  position: relative;
  /* height: 585px;
  width: 1440px; */

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 106px;

  flex-grow: 1;
}

.pAndText2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.foot-p {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;

  letter-spacing: 0;
  line-height: 16px;
  /* position: absolute;
  top: 349px;
  width: 371px; */
  /* left: 110px; */
}

.foot-text-wrapper {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.span {
  line-height: 32px;
}

.foot-text-wrapper-2 {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  text-align: right;
  /* position: absolute;
  top: 152px;
  left: 851px; */
  width: 478px;
}

.div-2AndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 45px;
}

.div-2 {
  color: #ffffff;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  /* position: absolute;
  top: 106px; */
  /* left: 106px; */
  width: 362px;
}

.foot-image {
  height: 85px;
  left: 839px;
  object-fit: cover;
  /* position: absolute;
  top: 363px; */
  width: 488px;
  /* height: auto; 
  width: 100%;  */
  align-self: end;
}

.foot-p ul {
  list-style-type: disc; /* Add item points (bullets) */
  padding-left: 20px; /* Add some left padding to the list items */
  margin-top: 15px;
}

.div-2 ul {
  list-style-type: disc; /* Add item points (bullets) */
  padding-left: 20px; /* Add some left padding to the list items */
  margin-top: 15px;
}

.card-checkbox {
  margin: 10px;
  border: 2px solid;
  border-color: #000000;
  height: 540px;

  display: flex;
  flex-direction: column;
}

.card-image {
  height: 303px;
  object-fit: cover;

  width: 303px;
  border-bottom: 2px solid;
  border-color: #000000;
}

.card-text-input {
  background-color: #fff8ec;

  height: 230px;
  /* left: 0;
  position: absolute;
  top: 405px; */
  width: 303px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title {
  color: #000000;
  font-family: "New Tegomin", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  /* left: 18px;
  position: absolute;
  top: 420px; */
  text-decoration: none;
}

.card-rs {
  color: #000000;
  font-family: "Overpass Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  left: 157px;
  top: 420px; */
  text-align: right;
  width: 280px;
}
